nav.vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: transparent;
}

nav.vertical li a {
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    text-decoration: none;
    font-weight: normal;
}

nav.vertical li a::before {
    content: "";
    margin: auto 10px auto 0;
    width: 10px;
    height: 2px;
    background-color: var(--text-color);
    opacity: 1;
    transition: width 0.5s ease-in-out;
}

nav.vertical li a:hover::before {
    width: 50px;
    background-color: var(--text-color-bold);
}

nav.vertical li:hover a {
    color: var(--text-color-bold);
    font-weight: bold;
}

nav.vertical li.active a::before {
    width: 50px;
    background-color: var(--text-color-bold);
}

nav.vertical li.active a {
    color: var(--text-color-bold);
    font-weight: bold;
}